/* ------------------------------------ *\
  BOX SHADOW
\* ------------------------------------ */

@function box-shadow(
  $left: 1px,
  $top: 0,
  $spread: 1px,
  $blur: 1px,
  $color: get-color($c-dark, dark),
  $inset: ""
) {
  @return $left $top $spread $blur $color #{$inset};
}
