@import "../../../_00_abstracts/all.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "copyright";

/* ------------------------------------ *\
 * COPYRIGHT MOLECULE
\* ------------------------------------ */

.#{$block} {
  @include e("base") {
    @include font($body-small);
    @include flex($direction: column);

    color: var(--color-link);
    gap: $baseline;

    p, a {
      margin-bottom: 0;
    }
  }
}
