@import "../../../_00_abstracts/all.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "text-input";

/* ------------------------------------ *\
 * TEXT INPUT ATOM
\* ------------------------------------ */

.#{$block} {
  @include input-base;

  @include e("base") {
    width: 100%;
  }
}
