@import "../../../_00_abstracts/all.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "product-details";

/* ------------------------------------ *\
 * PRODUCT DETAILS MOLECULE
\* ------------------------------------ */

.#{$block} {
  @include e("base") {
    margin-bottom: var(--responsive-spacing-80);
  }

  @include e("heading") {
    text-align: left;
    margin-top: $baseline * 3;
    margin-bottom: $baseline * 1;
  }

  @include e("specWrapper") {
    margin-left: $gutter * 2;
  }

  @include e("listHeading") {
    text-align: left;
  }

  @include e("list") {
    list-style-type: disc;
    padding-left: $gutter;
    margin-bottom: $baseline * 3;
  }

  @include e("listItem") {
    margin-top: $baseline;
  }
}
