@import "../../../_00_abstracts/all.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "fieldset";

/* ------------------------------------ *\
 * FIELDSET ATOM
\* ------------------------------------ */

.#{$block} {
  @include e("base") {
    display: grid;
    column-gap: var(--responsive-spacing-50);
    width: 100%;
    margin-bottom: var(--responsive-spacing-50);

    @include m("2-cols") {
      @include breakpoint($tablet) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @include m("3-cols") {
      @include breakpoint($tablet) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    @include m("6-cols") {
      @include breakpoint($mobile) {
        grid-template-columns: repeat(3, 1fr);
      }

      @include breakpoint($tablet) {
        grid-template-columns: repeat(6, 1fr);
      }
    }
  }

  @include e("legend") {
    margin-bottom: var(--responsive-spacing-30);
    --input-color: var(--text-color);
    color: var(--input-color);

    .base[data-invalid="true"] & {
      --input-color: var(--brand-color);
    }
  }
}
