@import "../../../_00_abstracts/all.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "navigation-bar";

/* ------------------------------------ *\
 * NAVIGATION BAR MOLECULE
\* ------------------------------------ */

.#{$block} {
  @include e("base") {
    @include flex($main: space-between);

    width: 100%;
  }
}
