@import "../../../_00_abstracts/all.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "fieldset";

/* ------------------------------------ *\
 * FIELDSET ATOM
\* ------------------------------------ */

.#{$block} {
  @include e("base") {
    width: 100%;
  }
}
