@import "../../../_00_abstracts/all.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "burger-button";

/* ------------------------------------ *\
 * BURGER BUTTON ATOM
\* ------------------------------------ */

$lineWeight: 2px;
$lineSpacing: 15px;

.#{$block} {
  @include e("button") {
    --burger-color: var(--color-link);
    position: absolute;
    right: 0;
    top: 0;
    width: var(--burger-size);
    height: var(--burger-size);
    transition-duration: 0.5s;
    border: none;
    background-color: transparent;

    @include breakpoint($tablet) {
      display: none;
    }

    &:hover {
      cursor: pointer;
      --burger-color: var(--color-link-hover);
    }

    &:hover {
      cursor: pointer;
    }
  }

  @include e("icon") {
    transition-duration: 0.5s;
    position: absolute;
    height: #{$lineWeight};
    width: var(--burger-size);
    top: 50%;
    right: 0;
    background-color: var(--color-link);

    @include m("open") {
      transition-duration: 0.5s;
      background: transparent;

      &:after {
        transform: rotateZ(-45deg) scaleX(1.25) translate(10px, -10px);
      }
      &:before {
        transform: rotateZ(45deg) scaleX(1.25) translate(9px, 9px);
      }
    }

    &:before,
    &:after {
      transition-duration: 0.5s;
      position: absolute;
      width: var(--burger-size);
      height: #{$lineWeight};
      background-color: var(--color-link);
      content: "";
      right: 0;
    }

    &:before {
      top: #{$lineSpacing * -1};
    }

    &:after {
      top: $lineSpacing;
    }
  }
}
