@import "../../_00_abstracts/all.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "grid";

/* ------------------------------------ *\
 * GRID LAYOUT
\* ------------------------------------ */

.#{$block} {
  @include e("base") {

  }
}
