@import "../../../_00_abstracts/all.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "textarea";

/* ------------------------------------ *\
 * TEXTAREA ATOM
\* ------------------------------------ */

.#{$block} {
  @include input-base;

  @include e("base") {
    width: 100%;
    margin-bottom: var(--responsive-spacing-50);
  }

  @include e("input") {
    resize: none;
  }
}
