@import "../../../_00_abstracts/all.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "navigation-list";

/* ------------------------------------ *\
 * NAVIGATION LIST MOLECULE
\* ------------------------------------ */

.#{$block} {
  @include e("base") {
    @include flex($direction: column, $cross: flex-end);

    width: 100%;

    @include breakpoint($tablet) {
      flex-direction: row;
      gap: $gutter * 2;
      width: auto;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      margin-bottom: 0;
    }

    @include e("item") {
      width: 100%;

      @include breakpoint($tablet) {
        width: auto;
      }

      a {
        padding: ($baseline * 2) 0;
        width: 100%;
        text-align: right;
        display: block;
      }
    }
  }
}
