@import "../../../_00_abstracts/all.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "button";

/* ------------------------------------ *\
 * BUTTON
\* ------------------------------------ */

.#{$block} {
  @include e("base") {
    @include button-base;

    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    text-decoration: none;
    max-width: 100%;
    margin: 0 auto;
    display: block;

    @include breakpoint($mobile) {
      max-width: convert-rem(400px);
    }
  }

  @include e("primary") {
    background-color: var(--brand-color);
    box-shadow: inset 0px 0px 0px 1px var(--brand-color);

    &:hover,
    &:focus {
      background-color: transparent;
      box-shadow: inset 0px 0px 0px 4px var(--brand-color);
    }

    &:disabled {
      background-color: gray;
      box-shadow: inset 0px 0px 0px 4px gray;
    }
  }

  @include e("secondary") {
    box-shadow: inset 0px 0px 0px 1px get-color($c-gray, spanish-gray);
    background-color: transparent;

    &:hover,
    &:focus {
      background-color: transparent;
      box-shadow: inset 0px 0px 0px 4px var(--text-color);
    }
  }

  @include e("label") {
    @include font($button);
  }
}
