@import "../../../_00_abstracts/all.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "social-media-list";

/* ------------------------------------ *\
 * SOCIAL MEDIA LIST MOLECULE
\* ------------------------------------ */

.#{$block} {
  @include e("base") {
    @include flex();

    width: 100%;
    gap: $gutter * 2;
    margin-bottom: $baseline * 5;
  }
}
