@import "../../../_00_abstracts/all.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "logo-icon";

/* ------------------------------------ *\
 * LOGO ATOM
\* ------------------------------------ */

.#{$block} {
  @include e("base") {
    @include flex();

    height: 100%;
    font-size: 40px;

    @include breakpoint($desktop) {
      font-size: 50px;
    }

    .shrink & {
      font-size: 35px;
    }
  }
}
