@import "../../../_00_abstracts/all.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "link";

/* ------------------------------------ *\
 * LINK ATOM
\* ------------------------------------ */

.#{$block} {
  @include e("default", "large") {
    // WARNING: it is recommended to keep te order of the following properties
    &,
    &:link,
    &:visited,
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }

    &:visited {
    }

    &:hover {
    }

    &:active {
    }

    &:focus {
    }
  }

  @include e("default") {
    @include font($link);
  }

  @include e("large") {
    @include font($link-large);
  }
}
