@mixin checks-base($box) {
  --input-color: var(--text-color);
  width: 100%;
  position: relative;
  height: $baseline * 4;
  display: inline-block;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover,
  &:focus {
    .#{$box} {
      box-shadow: inset 0px 0px 0px 4px var(--input-color);
    }
  }

  input {
    appearance: none;
    display: block;
    opacity: 0;
    z-index: -1;

    &:checked {
      ~ .#{$box} {
        box-shadow: inset 0px 0px 0px 4px var(--input-color);

        .icon {
          opacity: 1;
        }
      }
    }
  }

  .#{$box} {
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    height: $baseline * 4;
    width: $baseline * 4;

    box-shadow: inset 0px 0px 0px 1px var(--input-color);
    transition: box-shadow 0.2s ease-in-out;
  }

  .label {
    position: absolute;
    top: 50%;
    left: $baseline * 5;
    transform: translate(0, -50%);
    color: var(--input-color);
  }

  .icon {
    opacity: 0;
    color: var(--input-color);
    transition: opacity 0.2s ease-in-out;
    font-size: 30px;
    line-height: 30px;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-52%, -45%);
  }

  [invalid="true"] & {
    --input-color: #{get-color($c-traffic-lights, danger)};
  }
}
