/* ------------------------------------ *\
 * LINKS
 *
 * Define some minimal links styles
\* ------------------------------------ */

a {
  color: var(--color-link);
  transition: font-size 0.3s ease-in-out, color 0.2s ease-in-out;

  &:hover {
    color: var(--color-link-hover);
  }

  &,
  &:hover {
    text-decoration: none;
  }
}
