@import "../../../_00_abstracts/all.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "copyright";

/* ------------------------------------ *\
 * COPYRIGHT MOLECULE
\* ------------------------------------ */

.#{$block} {
  @include e("base") {
    @include font($body);
    @include flex();
  }
}
