@import "../../_00_abstracts/all.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "lineup";

/* ------------------------------------ *\
 * LINEUP LAYOUT
\* ------------------------------------ */


.#{$block} {
  @include e("base") {
    display: grid;
    grid-gap: $gutter * 2;
    grid-template-columns: 1;

    @include breakpoint($desktop) {
      grid-template-columns: repeat(var(--lineup-cols), 1fr);
    }


    max-width: $max-width;
    margin-inline: auto;
  }
}
