@import "../../../_00_abstracts/all.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "icon";

/* ------------------------------------ *\
 * ICON ATOM
\* ------------------------------------ */

.#{$block} {
  @include e("svg") {
    display: block;
  }
}
