@import "../../../_00_abstracts/all.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "icon";

/* ------------------------------------ *\
 * ICON ATOM
\* ------------------------------------ */

.#{$block} {
  @include e("base") {
    color: get-color($c-gray, spanish-gray);
    font-size: 30px;
  }
}
