@import "../../../_00_abstracts/all.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "form";

/* ------------------------------------ *\
 * FORM MOLECULE
\* ------------------------------------ */

.#{$block} {
  @include e("form") {
    @include flex();
  }
}
