@import "../../../_00_abstracts/all.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "navigation-list";

/* ------------------------------------ *\
 * NAVIGATION LIST MOLECULE
\* ------------------------------------ */

.#{$block} {
  @include e("base") {
    @include flex($direction: column, $cross: flex-start);

    gap: $gutter;

    @include breakpoint($desktop) {
      flex-direction: row;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      margin-bottom: 0;
      gap: $gutter * 2;
    }
  }
}
