@import "../../_00_abstracts/all.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "ram";

/* ------------------------------------ *\
 * RAM LAYOUT
\* ------------------------------------ */

.#{$block} {
  @include e("base") {
    display: grid;
    grid-gap: $gutter * 4;
    margin-bottom: var(--dynamic-90);

    @include breakpoint($tablet) {
      grid-gap: $gutter * 3;
    }

    @include m("isAutoFit"){
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

      @include breakpoint($tablet) {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      }
    }

    @include m("hasColumns") {
      grid-template-columns: repeat(var(--grid-cols), minmax(250px, 1fr));
      --grid-cols: 1;

      @include breakpoint($tablet) {
        --grid-cols: 2;
      }

      @include breakpoint($desktop) {
        --grid-cols: 3;
      }
    }
  }
}
