/* ------------------------------------ *\
* BASE THEME
\* ------------------------------------ */

:root {
  --text-regular: #{$font-family-montserrat};
  --text-heading: #{$font-family-montserrat};
  --text-code: #{$font-family-courierPrime};
  --text-color: #{get-color($c-light, cultured)};
  --color-link: #{get-color($c-light, cultured)};
  --color-link-hover: #{get-color($c-red, ua-red)};
  --brand-color: #{get-color($c-red, ua-red)};
  --background-color: #{get-color($c-light, light)};
}
