@import "../../../_00_abstracts/all.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "product-details";

/* ------------------------------------ *\
 * PRODUCT DETAILS MOLECULE
\* ------------------------------------ */

.#{$block} {
  @include e("base") {
    margin-bottom: var(--dynamic-80);
  }
}
