@import "../../../_00_abstracts/all.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "radio";

/* ------------------------------------ *\
 * RADIO ATOM
\* ------------------------------------ */

.#{$block} {
  @include e("base") {
    @include checks-base("radioBox");
  }

  @include e("radioBox") {
    border-radius: 50%;
  }
}
