@import "../../../_00_abstracts/all.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "checkbox";

/* ------------------------------------ *\
 * CHECKBOX ATOM
\* ------------------------------------ */

.#{$block} {
  @include e("base") {
    @include checks-base("checkbox");

    margin-bottom: var(--static-spacing-60);
  }

  @include e("checkbox") {
    border-radius: 5px;
  }
}
