@import "../../../_00_abstracts/all.scss";

$useModules: true;
$breakpoints: $column-grid-12;
$block: "form";

.#{$block} {
  @include e("base") {
    padding: var(--spacing-padding-top-bottom) 0 0;
    color: get-color($c-light, light);
    width: 100%;
    overflow: hidden;
  }

  @include e("formContainer") {
    margin-bottom: var(--responsive-spacing-80);
  }

  @include e("actionContainer") {
    @include flex($direction: column);

    gap: var(--responsive-spacing-50);

    @include breakpoint($tablet) {
      flex-direction: row;
    }
  }

  @include e("modal") {
    @include breakpoint($tablet) {
      min-width: 400px !important;
      min-height: 500px !important;
    }
  }
}
