@import "../../_00_abstracts/all.scss";
$breakpoints: $column-grid-12;
@import "../../_01_themes/base.theme.scss";

:root {
  --main-content-lat-padding: #{$gutter};
  --spacing-padding-top-bottom: #{$baseline * 4};
  --burger-size: 30px;

  @include breakpoint($tablet) {
    --main-content-lat-padding: #{$gutter * 2};
    --spacing-padding-top-bottom: #{$baseline * 8};
  }

  @include breakpoint($desktop) {
    --spacing-padding-top-bottom: #{$baseline * 12};
  }

  --responsive-spacing-10: 5px;
  --responsive-spacing-20: 10px;
  --responsive-spacing-30: 15px;
  --responsive-spacing-40: 20px;
  --responsive-spacing-50: 25px;
  --responsive-spacing-60: 30px;
  --responsive-spacing-70: 35px;
  --responsive-spacing-80: 40px;
  --responsive-spacing-90: 50px;
  --responsive-spacing-100: 70px;
  --responsive-spacing-110: 90px;
  --spacing-0: 0;
  --spacing-10: 5px;
  --spacing-20: 10px;
  --spacing-30: 15px;
  --spacing-40: 20px;
  --spacing-50: 25px;
  --spacing-60: 30px;
  --spacing-70: 35px;
  --spacing-80: 40px;
  --spacing-90: 60px;
  --spacing-100: 80px;
  --spacing-110: 120px;

  @include breakpoint($tablet) {
    --responsive-spacing-80: 45px;
    --responsive-spacing-90: 55px;
    --responsive-spacing-100: 80px;
    --responsive-spacing-110: 120px;
  }

  @include breakpoint($desktop-xl) {
    --responsive-spacing-50: 30px;
    --responsive-spacing-60: 40px;
    --responsive-spacing-70: 50px;
    --responsive-spacing-80: 70px;
    --responsive-spacing-90: 80px;
    --responsive-spacing-100: 110px;
    --responsive-spacing-110: 150px;
  }
}
