@import "../../../_00_abstracts/all.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "email-input";

/* ------------------------------------ *\
 * EMAIL INPUT ATOM
\* ------------------------------------ */

.#{$block} {
  @include e("base") {
    width: 100%;
  }

  @include e("input") {
    @include input-base;
  }
}
