@import "../../_00_abstracts/all.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "content";

/* ------------------------------------ *\
 * CONTENT LAYOUT
\* ------------------------------------ */

$lineWeight: 3px;

.#{$block} {
  @include e("base") {
    @include flex($direction: column);

    max-width: $max-width;
    margin-inline: auto;
    padding-top: var(--dynamic-spacing-90);
    padding-bottom: var(--dynamic-spacing-90);
    padding-inline: var(--main-content-lat-padding);
  }
}
