@import "../../../_00_abstracts/all.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "modal";

/* ------------------------------------ *\
 * MODAL MOLECULE
\* ------------------------------------ */

.#{$block} {
  @include e("base") {
    @include fixed($top: 0, $left: 0, $z-index: modalBase);

    width: 100vw;
    min-height: 100vh;

    @include m("isHidden") {
      visibility: hidden;
      opacity: 0;
    }
  }

  @include e("overlay") {
    @include fixed($top: 0, $left: 0, $z-index: overlay);

    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    transition: all 1s ease-in;
    transition-delay: 0.1s;
    opacity: 1;

    @include m("isHidden") {
      visibility: hidden;
      opacity: 0;
    }
  }

  @include e("window") {
    @include absolute($top: 50%, $left: 50%, $z-index: modalWindow);

    background-color: get-color($c-dark, raisin-black);
    transform: translate(-50%, -50%);
    padding: var(--dynamic-spacing-50) var(--dynamic-spacing-40);
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
    transition: visibility 0.25s, opacity 0.25s;
    overflow: scroll;
    transform: translate(-50%, -50%);
    min-width: calc(100vw - 10px);
    min-height: calc(100vh - 10px);

    @include breakpoint($mobile) {
      max-width: calc(100vw - var(--main-content-lat-padding));
      max-height: calc(100vh - var(--main-content-lat-padding));
      padding: var(--dynamic-spacing-100) var(--dynamic-spacing-90);
    }

    @include breakpoint($tablet) {
      min-width: 75%;
      min-height: 50%;
    }
  }

  @include e("closeBtn") {
    font-family: inherit;
    color: inherit;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 4rem;
    cursor: pointer;
    border: none;
    background: none;
    padding: 20px 30px;
  }

  @include e("buttonContainer") {
    @include flex();
  }
}
