@import "../../../_00_abstracts/all.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "select";

/* ------------------------------------ *\
 * SELECT ATOM
\* ------------------------------------ */

.#{$block} {
  @include input-base();

  @include e("base", "select") {
    width: 100%;
    background-color: transparent;
  }

  @include e("base") {
    position: relative;
    z-index: 1;
    display: block;
    height: 100%;
  }

  @include e("select") {
    cursor: pointer;
  }

  @include e("icon") {
    position: absolute;
    right: 16px;
    top: calc(var(--static-spacing-80));
    transform: translateY(50%);
    font-size: 25px;
    z-index: -1;

    color: var(--input-color);

    .select[invalid="true"] ~ & {
      --input-color: #{get-color($c-traffic-lights, danger)};
    }
  }
}
