/* ------------------------------------ *\
  #FONT-WEIGHTS
\* ------------------------------------ */

$font-weights: (
  super-thin: 100,
  thin: 300,
  regular: 400,
  medium: 500,
  bold: 700,
  heavy: 800,
);
